[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.8"
