<!DOCTYPE html>
<html>
    <head>
        <title>Accounts</title>
    </head>
        <p>

    {% if user.is_authenticated %}

        {{ user.username }} <br>
    
        <a href="{% url 'account:logout' %}">log out</a><br>

    {% else %}

        <a href="{% url 'account:login' %}">log in</a>

    {% endif %}

    
    <p>--------</p>
    
    
        {% if user.is_authenticated %}
            
        
        <li><a href="{% url 'api_account:acc_details' user.username %}">my account api-endpoint details</a></li><br>
        
        {% endif %}

        <li><a href="{% url 'api_account:show_accounts' %}">all accounts api-endpoint</a></li><br>

        <h1>

            <li><a href="{% url 'api_account:get_contacts' %}">all contacts</a></li><br>

            <li><a href="{% url 'api_account:get_new_contacts' %}">get new contacts</a></li><br>

        </h1>
    
        </p>
    <body>
    {% block content %}{% endblock content %}
    </body>
</html>