<!DOCTYPE html>
<html>
    <head>
        <title>Accounts</title>
    </head>
        <p>

    {% if user.is_authenticated %}

        {{ user.username }} <br>
    
        <a href="{% url 'users:logout' %}">log out</a><br>

    {% else %}

        <a href="{% url 'users:login' %}">log in</a>

    {% endif %}

    
    <p>--------</p>
    
    <li>
        <a href="{% url 'api_account:show_accounts' %}">all accounts api-endpoint</a><br>
    </li>
        </p>
    <body>
    {% block content %}{% endblock content %}
    </body>
</html>