<!DOCTYPE html>
<html>
    <head>
        <title>Accounts</title>
    </head>
        <p>

    {% if user.is_authenticated %}

        {{ user.username }} <br>
    
        <a href="{% url 'account:logout' %}">log out</a><br>

    {% else %}

        <a href="{% url 'account:login' %}">log in</a>

    {% endif %}

    
    <p>--------</p>
    
    
        {% if user.is_authenticated %}
            
        
        <li><a href="{% url 'account:api:acc_details' user.username %}">my account api-endpoint details</a></li><br>

        <li><a href="{% url 'contact:api:contacts-list' %}">all contacts</a></li><br>

        <li><a href="{% url 'contact:api:contacts-new-contacts' request.user.pk %}">new contacts</a></li><br>
        
        {% endif %}

        <li><a href="{% url 'account:api:show_accounts' %}">all accounts api-endpoint</a></li><br>

        <li><a href="{% url 'contact:contact_form' %}">contact form</a></li><br>

        <h1>



        </h1>
    
        </p>
    <body>
    {% block content %}{% endblock content %}
    </body>
</html>