<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="testing html">
    <title>Пример веб страницы</title>
</head>
<body bgcolor="white" text="teal">
  <h1 align="center"><b>Заголовок 1</b></h1>
  <h3 align="right">Заголовок 3</h3>
  <h6 align="left">Заголовок 6</h6>
  <p>первый абзац</p>
  <p align="justify">второй абзац</p>
  <p align="justify"><strong>
      Делим пустыню на ряд <i>элементарных участков</i></strong>, размер
   которых совпадает с габаритными размерами льва, но при этом меньше размера
      клетки. <b>Далее простым перебором определяем участок</b>, в котором находится лев,
   что автоматически приводит к его поимке.
  </p>
  <p><b>Формула серной кислоты: </b><i>H<sub>2</sub>SO<sub>4</sub></i> </p>
  <a href="http://htmlbook.ru" target="_blank" title="в новом окне">абсолютная ссылка</a>
  <p><input type="text"></p>
</body>
</html>